body{
background-color: #73bad9;
}

.liz-back{
background-color:#5db067;
}
.dog-back{
background-color:#a38560;
}

h1{
margin-bottom: 0px;
}

h2{
  text-align: center;
}
.block1{
  text-align: center;
  font-family: Verdana;
  font-size: 24px;
}
.pic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.animals{
color: #75f4ff;
}

.border{
text-align: center;
font-family: Papyrus, cursive;
background-color: #9e0c02;
color: #fcba03;
width:400px;
margin:auto;
}

.slogan{
font-size: 8;
margin-top: 0px;
}

.form
{
margin:0;
padding:0;
border:0;
}